@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==================HERO BACKGROUND================== */
.Hero{
  background-image: url('./assets/hero/hero.svg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* ==================NAVBAR================== */
.active {
   padding-bottom: 24px;
   border-bottom: 2px solid #ffffff;
}

/* ==================PAGINATION================== */
.paginate li.active {
  color: #ffffff;
  font-weight: 500;
  border-color: white;
  background-color: #F4511E;
}
.paginate button:disabled{
  color: #ffffff;
  background:gray;
}

/* ==================PAGINATION ANIMATION================== */
.slide-in {
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-name: slide;
}

@keyframes slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
